* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: #f4e4ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.amount p {
  margin-bottom: 0.5rem;
}

.amount input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.select-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.select-container img {
  width: 2rem;
  margin-right: 0.5rem;
}

select {
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #af4d98;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.msg {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}
